[Unit]
Description=uWSGI instance to Popoeshnick
After=network.target

[Service]
User=centos
Group=nginx
Environment="PATH=/home/centos/virtualenv/popoeshnick/bin"
ExecStart=/home/centos/virtualenv/popoeshnick/bin/uwsgi --ini /etc/popoeshnick/uwsgi.ini

[Install]
WantedBy=multi-user.target